* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.photo-bg {
    background-color: rgba(0,0,0,0.6);
}

.conteiner {
    margin: 0 auto;
    width: 1059px;
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
}

h1 {
    font-size: 29px;
}

.logo-img:hover {
    color: #f26522;
}

.left-link {
    float: left;
    padding-top: 49px;
    text-transform: uppercase;
    font-weight: bold;
   }

.text-logo {
    display: block;
    font-size: 18px;
    }

.logo-img {
    display: block;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    padding-left: 62px;
}

.logo-img:hover {
    background-image: url(../img/logo-hover.png);
}

.right-contacts {
    float: right;
    text-align: right;
    padding-top: 57px;
}

a {
    color: white;
}

section {
    margin-top: 48px;
}

.image {
    float: left;
    margin-right: 68px;
    margin-bottom: 58px;
    text-align: center;
    position: relative;
}

.image p {
    margin-top: 22px;
}

.image-last {
    margin-right: 0;
}

footer  {
    font-size: 12px;
    text-align: center;
    padding-bottom: 20px;
}

.clearfix {
    clear: both;
}


.orange:hover {
    color: #f26522;
}

.cost {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    background-color: #f26522;
    padding-bottom: 17px;
    display: none;
    color: white;
    text-align: right;
}

.image:hover .cost {
    display: block;
}

.link {
    margin-right: 115px;
}

.details {
    font-size: 14px;
    margin-right: 18px;
}

.details::after {
    content: '>';
    margin-left: 15px;
}

.link::before {
    content: 'from';
    font-size: 10px;
    display: block;
    margin-right: 262px;
    margin-bottom: 5px;
}