.mb{
  &-8 {
    margin-bottom: 8px;
  }
  &-12{
    margin-bottom: 12px;
  }
  &-16{
    margin-bottom: 16px;
  }
  &-20{
    margin-bottom: 20px;
  }
  &-24{
    margin-bottom: 24px;
  }
  &-30 {
    margin-bottom: 30px;
  }
}