.copyright {
  background: $black-bg;
  padding: 40px 0;
  color: $grey700;
  font-size: 14px;
  &__icon {
    padding: 0 8px;
    cursor: pointer;
    color: $grey700;
    transition: .2s;
    font-size: 18px;
    &:hover {
      color: $orange;
    }
  }
}