.footer {
  background-color: $dark-bg;
  padding: 60px 0;
  &__links {
    margin-bottom: 36px;
    &-title {
      font-size: 1.4rem;
      line-height: 30px;
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
      letter-spacing: .02em;
      margin-bottom: 16px;
      display: block;
    }
    &-item {
      font-size: 14px;
      line-height: 32px;
      font-weight: 400;
      color: $grey700;
      cursor: pointer;
      transition: color .2s;
      display: inline-block;
      &:hover {
        color: $white;
      }
    }
  }
}