//hover on links in furniture-gallery
a:hover {
  color: $black;
}

.furniture-gallery {
  &__image1,
  &__image2,
  &__image3,
  &__image4,
  &__image5,
  &__image6 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__image1 {
    background-image: url('/static/img/furniture-gallery-1.png');
  }
  &__image2 {
    background-image: url('/static/img/furniture-gallery-2.png');
  }
  &__image3 {
    background-image: url('/static/img/furniture-gallery-3.png');
  }
  &__image4 {
    background-image: url('/static/img/furniture-gallery-4.png');
  }
  &__image5 {
    background-image: url('/static/img/furniture-gallery-5.png');
  }
  &__image6 {
    background-image: url('/static/img/furniture-gallery-6.png');
  }
  &__title {
    position: relative;
    color: $orange;

    &::after {
      content: '';
      width: 50px;
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: $orange;
      left: 0;
    }
  }
  &__list {
    &--link {
      color: $black;
      font-weight: bold;

      &.active {
        color: $orange !important;
        border: none;
        border-top: 3px solid $orange !important;
        background-color: #f4f5f7 !important;
        border-radius: 0;
      }
    }
    &--item {
      width: 50%;
    }
  }
  &__carousel {
    background-color: #f4f5f7;
  }
  &__slider {
    background-color: #d3d3d3;

    &--img {
      height: 64px;
      width: 50px;
    }
  }
  &__row {
    background-color: $black-bg;
  }

  &__icon {
    padding-top: 70px;

    &--heart {
      padding: 0 9px;
    }

    &--heart,
    &--eye,
    &--basket {
      border: 1px solid $black;

      &:hover {
        border: 1px solid $orange;
        color: $orange;
      }
    }
  }
  &__price {
    display: block;
    background-color: grey;
    border-radius: 50%;
    padding: 15px 6px;
    position: absolute;
    right: 143px;
    bottom: 0;

    &--last {
      font-size: 10px;
    }
  }
  &__rating {
    background-color: $white;
    &::before {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-left: 8px solid $black;
      border-top: 8px solid $black;
      left: 0;
      top: 0;
    }
    &::after {
      content: '';
      position: absolute;
      border: 8px solid transparent;
      border-right: 8px solid $black;
      border-bottom: 8px solid $black;
      right: 0;
      bottom: 0;
    }
  }
  &__item {
    &--heart:hover .heart-inscription,
    &--eye:hover .eye-inscription,
    &--basket:hover .basket-inscription {
      display: inline-block;
    }
  }
}

.basket-inscription,
.eye-inscription,
.heart-inscription {
  font-size: 8px;
  margin-left: 8px;
  display: none;
  background-color: $black;
  padding: 5px;
  color: $white;
}

.basket-inscription::before,
.eye-inscription::before,
.heart-inscription::before{
  content: '';
  width: 10px;
  height: 10px;
  background-color: $black;
  position: absolute;
  transform: rotate(45deg);
  left: 39px;
}

@media (min-width: 576px) {
  .furniture-gallery {
    &__list--item {
      width: 25%;
    }
    &__price {
      right: 40px;
      bottom: 50px;
    }
  }
}

@media (min-width: 992px) {
  .furniture-gallery__list {
    font-size: 13px;
  }
}

.bedroom-banner {
  background-color: #e8edf7;
  &__price {
    font-size: 23px;
    color: #79ae30;
    font-weight: bold;

    &::before {
      content: 'from';
      font-size: 10px;
      color: $black;
      font-weight: normal;
    }
  }
  &__btn {
    background-color: #79ae30;
    color: $white;
  }
  &__title {
    font-size: 48px;
    color: $orange;
    font-weight: bold;
  }
  &__img {
    height: 189px;
    width: 467px;
  }
}

.nav-tabs .nav-link {
  border: none;
}
