.features:hover .fa-truck,
.features:hover .fa-headphones,
.features:hover .fa-reply-all,
.features:hover .fa-bullhorn {
  color: $white;
  background-color: $orange;
  border: 1px solid $orange;
}

.features:hover .features__icon--text {
  color: $orange;
}

.features:hover .fa-border {
  border: 1px solid $orange;
}

.features {
  margin-top: 60px;
  margin-bottom: 30px;
  &__icon {
    position: absolute;
    margin: auto;
    left: 0;
    bottom: 100px;
    right: 0;
    &--text {
      padding-top: 48px;
      width: 235px;
    }
  }
}

.fa-truck,
.fa-headphones,
.fa-reply-all,
.fa-bullhorn,
.fa-border {
  border: 1px solid #cbcbcb;
  background-color: $white;
}

@media (min-width: 576px) {
  .features__icon--text {
    padding-top: 48px;
    width: 180px;
  }
}

@media (min-width: 768px) {
  .features__icon--text {
    padding-top: 48px;
    width: 160px;
  }
}


