.stocks {
  &__item {
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    &-overlay {
      background: rgba(0,0,0, .3);
      height: 100%;
      padding: 20px;
    }
    &--big {
      background-image: url('/static/img/stocks_1.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      line-height: 54px;
      height: 100%;
      color: inherit;
      padding: 30px;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
      & .caption {
        display: block;
        font-size: 36px;
        &-big {
          font-size: 60px;
          display: inherit;
        }
      }
      & .sale {
        border: 3px solid $white;
        display: inline-block;
        padding: 20px 20px 12px;
        font-size: 50px;
        line-height: 50px;
        width: fit-content;
      }
    }
    &--grey {
      background-color: #e8edf7;
      min-height: 200px;
      overflow: inherit;
      font-size: 30px;
      line-height: 32px;
      @media (max-width: 767px) {
        font-size: 28px;
        line-height: 30px;
      }
      & .caption {
        font-weight: 300;
        color: $black;
        &-big {
          color: $black;
        }
        &-mid {
          color: $black;
          font-size: 18px;
          letter-spacing: .2em;
        }
      }
      & .price {
        color: $orange;
        font-size: 36px;
        font-weight: 600;
        @media (max-width: 767px) {
          font-size: 30px;
        }
      }
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
    &--pink {
      background-color: #fbf3f7;
      min-height: 200px;
      overflow: inherit;
      font-size: 24px;
      & .caption {
        font-weight: 300;
        color: $orange;
        &-big {
          color: $orange;
        }
        &-mid {
          color: $black;
          font-size: 18px;
          font-weight: 300;
        }
      }
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
    &-img {
      &.left {
        position: absolute;
        top: -55px;
        bottom: -30px;
        left: -50px;
        @media (max-width: 767px) {
          left: -120px;
          bottom: -179px;
        }
      }
      &.right {
        position: absolute;
        top: -4px;
        bottom: -8px;
        right: -16px;
        transform: scaleX(-1);
        @media (max-width: 767px) {
          bottom: -78px;
          right: -150px;
        }
      }
      &.left-pink {
        position: absolute;
        top: -25px;
        bottom: -18px;
        left: 18px;
        transform: scaleX(-1);
        @media (max-width: 767px) {
          left: -168px;
        }
      }
      & img {
        width: auto;
        height: 100%;
      }
    }
  }
}

