.container {
    height: 474px;
    width: 1200px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2124;
}

.logo {
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-left: 40px;
}

.logo-img {
    background-image: url("../img/header-logo.png");
    background-repeat: no-repeat;
    height: 27px;
    margin-left: 21px;
    }

.font {
    padding: 25px;
    background-color: #1a1d20;
    height: 70px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    width: 616px;
    justify-content: space-between;
    font-size: 15px;
    text-transform: uppercase;
}

a {
    color: white;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 404px;
}

.bg-fixed {
    background-image: url(../img/bg-top.png);

    background-attachment: fixed;

}

.slogan {
    font-size: 27px;
    color: #fff;
    text-transform: uppercase;
}

.blue-text {
    color: #18b4cf;
    text-align: center;
    font-weight: bold;
}

.padding-top {
    padding: 50px 0;
}

.slogan-button {
    display: flex;
    justify-content: center;
}

.button-left,
.button-right {
    color: #fff;
    font-size: 18px;
    width: 170px;
    height: 55px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 44px;
}

.button-left {
    background-color: #89ca62;
}

.button-right {
    background-color: #14b9d5;
    margin-right: 0;
}

.img {
    background-color: #f2f2f2;

}

.wrapper {
    width: 1170px;
    margin: 0 auto;
    }

.bg-grey {
    background-color: #f2f2f2;
}


.posts-image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 900px;
    align-content: space-between;

}

.posts-image-text {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    background-color: #fff;
    color: #000;
}

.image {
    margin-top: 32px;
}

.image:nth-child(odd) {
    margin-top: 0;
}

.clients {
    background-image: url(../img/parallax.jpeg);
    background-attachment: fixed;
    display: grid;
    height: 590px;
    grid-template-rows: 227px 50px;
    justify-items: center;
    align-items: end;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-gap: 118px 75px;

}

.clients-slogan {
    grid-column-start: 1;
    grid-column-end: 5;
    position: relative;

}

.clients-slogan::after {
    content: '';
    display: inline-block;
    border: 1px solid #169cb4;
    width: 60px;
    background-color: #169cb4;
    position: absolute;
    top: 80px;
    left: 43%;
}

.clients-link {
    align-self: center;
}


.images {
    width: 1200px;
    height: 386px;
    display: grid;
    grid-template-rows: 136px 190px;
    grid-template-columns: repeat(6, 1fr);
}

.images > h2 {
grid-column: 1/8;
}

.images > img {
    width: 200px;
}


.news {
    display: grid;
    width: 1170px;
    height: 1602px;
    grid-template-rows: 23px 259px 418px 416px 259px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    align-items: start;
    grid-gap: 43px 35px;
}

.news > h2 {
    grid-column: 1/5;
}

.image-news1 {
    grid-column: 1/4;
}

.image-news1,
.image-news8 {
    display: grid;
    grid-template-columns: 483px 329px;
    align-items: center;
    grid-gap: 23px;
    background-color: #f9f7f7;
}

.news-image-title,
.news-image-text {
    text-align: right;
    color: #000;
}


.news-image-title {
    font-size: 18px;
    font-weight: bold;
}

.news-image-text {
    font-size: 14px;
    line-height: 1.5;
}

.image-news2,
.image-news7 {
    background-color: #f9f7f7;
    display: grid;
    justify-items: center;
    grid-template-rows: 1fr 50px;
}

.image-news2 > a,
.image-news7 > a {
    align-self: center;
}

.image-news3 {
    grid-column: 1/3;
}

.image-news3,
.image-news4,
.image-news5,
.image-news6 {
    width: 554px;
    display: grid;
    grid-template-rows: 259px 159px;
    background-color: #f9f7f7;
}

.image-news3 > div,
.image-news4 > div,
.image-news5 > div,
.image-news6 > div {
    place-self: center;
    width: 505px;
}

.image-news4 {
    grid-column: 3/5;
    justify-self: end;
}

.image-news5 {
    grid-column: 1/3;
}

.image-news6 {
    grid-column: 3/5;
    justify-self: end;
}

.image-news8{
    grid-column: 2/5;
}

footer {
    width: 1200px;
    background-color: #1d2124;
}

.footer {
    display: grid;
    width: 1170px;
    margin: 0 auto;
    color: #f0f0f0;
    grid-template-columns: 1fr 1fr;
    font-size: 13px;
    height: 80px;
    align-items: center;

}

.footer > span {
    justify-self: end;
}

.vertical {
    vertical-align: top;
}