extends ../extend/default

block variables
    - const title = 'Online shop';

block main
    main(data-page='index')
        include ../components/navbar.html
        include ../components/header.html
        include ../components/top-menu.html
        include ../components/top-slider.html
        include ../components/our-features.html
        +stocks
        include ../components/furniture-gallery.html
