include ../partials/_variables
include ../partials/_mixins

- const suffix = production ? '.min' : '';

doctype html
html(lang='ru')

    block variables
        // - var title = defaultPageTitle;

    block head
        head
            meta(name='format-detection', content='telephone=no')
            meta(charset='utf-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title= title
            link(href='static/css/index' + suffix + '.css', rel='stylesheet')
            link(rel='icon', href='static/favicon.ico')
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">

    block body
        body

            // Header
            block header


            // Main content
            block main
                main

            // Footer
            block footer
                +footer

            include ../components/basket-modal.html
            include ../components/login-modal.html
            include ../components/registration-modal.html

            // Scripts
            block scripts
                script(src='static/js/index' + suffix + '.js')
