@import "mixins";

body {
  font-family: $lato;
}

.br {
  @include display(block);
}

.navbar {
  height: 10%;
  @include displayFlex(between);
  background-color: #373c3f;

  &__title {
    color: $primary;
    padding: 5.1px 0 10px 18.8px;
    font-size: 11px;
    letter-spacing: 1.35px;
    font-family: $montserrat;
  }

  &__menu {
    @include displayFlex(center);
    width: 41px;
    height: 37px;
    color: $primary;
    background-color: #202529;
  }
}

.header {
  background-image: url("../img/320/pizza_header_320.png");
  @include bgp;
  padding-bottom: 29.4%;

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding: 15px 0 0 20px;
    color: $primary;
  }

  &__link {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0 0 20px;
    color: #a6d6e0;
  }
}

.categories {
  font-family: $lato;
  color: $primary;
  margin-top: 3px;

  &__item {
    display: flex;
    text-decoration: none;
    color: $primary;
    margin-top: 1px;
    flex-grow: 1;
  }

  &__container {
    width: 78%;
  }

  &__title {
    color: $primary;
    font-size: 20px;
    font-weight: 700;
    padding: 24px 0 31px 63px;
  }

  &__pizza {
    background-image: url("../img/320/pizza_320.png");

    &--title {
      padding: 10% 0 12% 25%;
    }
  }

  &__link {
    background-color: #acd8ad;
    @include displayFlex(center);
    flex-grow: 1;

    &--arrow {
      border: solid $primary;
      border-width: 0 2px 2px 0;
      padding: 5%;
      margin-right: 11px;
      transform: rotate(-45deg);
    }
  }

  &__salad {
    background-image: url("../img/320/salads_320.png");
    &--title {
      padding: 11% 0 11% 30%;
    }
  }

  &__dessert {
    background-image: url("../img/320/desserts_320.png");
    &--title {
      padding: 11% 0 11% 33.5%;
    }
  }
}


.price {
  margin-top: 21px;
  padding-left: 8px;

  &__title {
    color: #3f4043;
    font-family: $lato;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #cbccce;
    font-family: $lato;
    font-size: 10px;
    margin-top: 4px;
  }

  &__logo {
    @include display(none);
  }
}

.category {
  margin-top: 10px;

  &__title {
    font-family: $lato;
    padding: 9px 17px;
    color: #acd8ad;
    background-color: #3f4043;
    font-size: 20px;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #3f4043;
    font-family: $lato;
    font-size: 15px;
    text-transform: uppercase;
  }

  &__list {
    margin-top: 12px;
    font-size: 14px;

    &--title {
      padding-left: 5px;
      @include displayFlex(between);
      color: #3f4043;
      letter-spacing: 0.005px;
    }

    &--price {
      position: relative;
      font-weight: 700;
    }
    &--price:before {
      content: "$";
      position: absolute;
      left: -25%;
    }

    &--ingredient {
      margin-top: 6px;
      text-align: justify;
      font-size: 9px;
      line-height: 10px;
    }
  }
}


.wrapper {
  padding: 0 17px;
}


.inner {
  margin-top: 9.5px;
  @include displayFlex(between);
}


.margin {
  margin-top: 30px;
}

.category__next {
  color: $primary;
  background-color: #acd8ad;
}
.next-margin {
  margin: 12px 0 0 0;
}


.footer {
  margin-top: 49px;
  @include displayFlex(center);
  height: 55px;
  background-color: #acd8ad;

  &__logo {
    @include display(none);
  }

  &__description {
    text-align: center;
    line-height: 18px;
    font-family: $montserrat;
    color: $primary;
    font-size: 12px;
    @include display(block);
  }
}


#menu-large-icon,
.navbar-menu-desktop,
.header-logo.none,
.navbar__mobile {
  @include display(none);
}



@media (max-width: 639px) {

  .navbar__mobile {
    position: absolute;
    top: 37px;
    right: 0;
    width: 57%;
    @include displayFlex(center);
    flex-direction: column;
    z-index: 1;

    &--menu {
      width: 100%;
      padding-bottom: 4px;
      background-color: $primary;
      list-style: none;
    }
  }

  .navbar__link {
    font-family: $lato;
    color: #3f4043;
    font-size: 12px;
    @include display(block);
    padding: 4% 0 4% 12px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header {
    background-image: url("../img/320/pizza_header_320.png");
    @include bgp;
  }


  .categories {
    &__item {
      display: flex;
    }
    &__pizza {
      background-image: url("../img/320/pizza_320.png");
      @include bgp;
    }

    &__salad {
      background-image: url("../img/320/salads_320.png");
      @include bgp;
    }

    &__dessert {
      background-image: url("../img/320/desserts_320.png");
      @include bgp;
    }
  }

  .price {
    &__logo {
      @include display(none);
    }
  }

  .navbar-menu-desktop {
    @include display(none);
  }

  .header-logo {
    @include display(none);
  }

  .navbar__mobile {
    @include display(none);
  }
}


@media (min-width: 640px) {
  .navbar {
    height: 75px;

    &__title {
      font-size: 24px;
      font-weight: 500;
      padding: 0 0 0 5.5%;
      letter-spacing: 0.3px;
    }

    &__menu {
      height: 100%;
      width: 13%;
    }

    &__link {
      color: #444444;
      font-family: $lato;
      font-size: 14px;
      line-height: 40px;
      padding: 1% 0 1% 12px;
    }

    &__mobile {
      @include display(none);
      width: 40%;
      top: 74px;
    }
  }


  .header {
    background-image: url("../img/640/header_640.png");
    @include bgp;
    padding: 0 0 28% 0;

    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 38px;
      padding: 4% 0 0 6%;
    }

    &__link {
      font-size: 24px;
      font-weight: 700;
      line-height: 64px;
      padding: 0.5% 0 0 6%;
    }
  }


  .categories {
    &__item {
      display: flex;
    }

    &__pizza {
      background-image: url("../img/640/pizza_640.png");
      @include bgp;

      &--title {
        padding: 10% 0 12% 28%;
      }
    }

    &__title {
      font-size: 36px;
      font-weight: 700;
      line-height: 44px;
    }

    &__salad {
      background-image: url("../img/640/salad_640.png");
      @include bgp;

      &--title {
        padding: 11% 0 11% 24%;
      }
    }

    &__dessert {
      background-image: url("../img/640/dessert_640.png");
      @include bgp;

      &--title {
        padding: 11% 0 11% 28%;
      }
    }
  }

  .price {
    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 20px;
    }

    &__logo {
      @include display(none);
    }
  }

  .category {
    &__title {
      font-size: 40px;
    }

    &__subtitle {
      font-size: 30px;
    }

    &__list {
      margin-top: 20px;

      &--title {
        font-size: 27px;
      }

      &--ingredient {
        margin-top: 10px;
        font-size: 18px;
        line-height: 18px;
      }
    }
  }

  .footer {
    &__description {
    font-family: $montserrat;
    font-size: 18px;
    line-height: 26px;
  }
}

  #menu-large-icon {
    @include display(block);
  }

  #menu-small-icon {
    @include display(none);
  }


  .inner {
    margin-top: 22px;
  }

  .navbar-menu-desktop {
    @include display(none);
  }

  .header-logo {
    @include display(none);
  }

}

@media (min-width: 980px) {

  .navbar {
    padding: 5px 30px;
    height: auto;

    &__title {
      @include display(none);
    }

    &__menu {
      @include display(none);
    }
  }

  .navbar__link {
    color: #444444;
    font-family: $lato;
    font-size: 14px;
    line-height: 40px;
    padding-left: 12px;
  }

  .navbar__mobile {
    position: relative;
    top: 0;
    width: 700px;
    @include displayFlex(center);
    flex-direction: row;
    justify-content: flex-start;

    &--menu {
      display: inline-block;
      background-color: #373c3f;
      width: auto;
    }
  }

  .navbar__link {
    color: $primary;
    text-decoration: none;
    font-family: $montserrat;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    border-bottom: none;
  }

  .header {
    background-image: url("../img/980/header_980.png");
    @include bgp;
    padding-bottom: 30%;

    &__title {
      font-size: 54px;
      font-weight: 700;
      line-height: 64px;
    }

    &__link {
      font-size: 34px;
      font-weight: 700;
      line-height: 64px;
    }
  }

  .categories {
    display: flex;
    justify-content: space-evenly;

    &__item {
      display: flex;
      flex-grow: 1;
      margin: 0;
    }

    &__container {
      width: 100%;
    }

    &__pizza {
      background-image: url("../img/980/pizza_980.png");
      @include bgp;
    }

    &__title {
      padding: 30% 0;
      font-size: 38px;
      font-weight: 700;
      line-height: 44px;
      text-align: center;
    }

    &__link {
      @include display(none);
    }

    &__salad {
      background-image: url("../img/980/salad_980.png");
      @include bgp;
    }

    &__dessert {
      background-image: url("../img/980/dessert_980.png");
      @include bgp;
    }
  }

  .price {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;

    &__logo {
      @include display(block);
    }
  }

  .category {
    display: flex;

    &__left {
      flex-grow: 1;
    }
  }

  .margin {
    margin: 0;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 5px 30px;
    &__logo {
      @include display(block);
      flex-shrink: 0;
    }

    &__description {
      display: inline-block;
    }
  }


  .header-logo {
    @include display(block);
  }

}

@media (min-width: 1200px) {
  .header {
    background-image: url("../img/1200/header_1200.png");
    @include bgp;
    padding: 20px 0 379px;

    &__link {
      color: #a6d6e0;
      font-size: 38px;
      font-weight: 700;
      line-height: 64px;
      padding: 10% 0 0 10%;
    }

    &__title {
      font-size: 62px;
      font-weight: 700;
      line-height: 64px;
    }
  }


  .categories {
    &__pizza {
      background-image: url("../img/1200/pizza_1200.png");
      @include bgp;
    }

    &__title {
      padding: 160px 0;
    }

    &__salad {
      background-image: url("../img/1200/salad_1200.png");
      @include bgp;
    }

    &__dessert {
      background-image: url("../img/1200/dessert_1200.png");
      @include bgp;
    }
  }

  .navbar-menu-desktop-link {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }

}

