body {
  font-family: "Lato", sans-serif;
}

.br {
  display: block;
}

.navbar {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #373c3f;
}

.navbar__title {
  color: white;
  padding: 5.1px 0 10px 18.8px;
  font-size: 11px;
  letter-spacing: 1.35px;
  font-family: "Montserrat", sans-serif;
}

.navbar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 37px;
  color: white;
  background-color: #202529;
}

.header {
  background-image: url("../img/320/pizza_header_320.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 29.4%;
}

.header__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding: 15px 0 0 20px;
  color: white;
}

.header__link {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0 0 20px;
  color: #a6d6e0;
}

.categories {
  font-family: "Lato", sans-serif;
  color: white;
  margin-top: 3px;
}

.categories__item {
  display: flex;
  text-decoration: none;
  color: white;
  margin-top: 1px;
  flex-grow: 1;
}

.categories__container {
  width: 78%;
}

.categories__title {
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 24px 0 31px 63px;
}

.categories__pizza {
  background-image: url("../img/320/pizza_320.png");
}

.categories__pizza--title {
  padding: 10% 0 12% 25%;
}

.categories__link {
  background-color: #acd8ad;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.categories__link--arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  padding: 5%;
  margin-right: 11px;
  transform: rotate(-45deg);
}

.categories__salad {
  background-image: url("../img/320/salads_320.png");
}

.categories__salad--title {
  padding: 11% 0 11% 30%;
}

.categories__dessert {
  background-image: url("../img/320/desserts_320.png");
}

.categories__dessert--title {
  padding: 11% 0 11% 33.5%;
}

.price {
  margin-top: 21px;
  padding-left: 8px;
}

.price__title {
  color: #3f4043;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.price__subtitle {
  color: #cbccce;
  font-family: "Lato", sans-serif;
  font-size: 10px;
  margin-top: 4px;
}

.price__logo {
  display: none;
}

.category {
  margin-top: 10px;
}

.category__title {
  font-family: "Lato", sans-serif;
  padding: 9px 17px;
  color: #acd8ad;
  background-color: #3f4043;
  font-size: 20px;
  text-transform: uppercase;
}

.category__subtitle {
  color: #3f4043;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.category__list {
  margin-top: 12px;
  font-size: 14px;
}

.category__list--title {
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3f4043;
  letter-spacing: 0.005px;
}

.category__list--price {
  position: relative;
  font-weight: 700;
}

.category__list--price:before {
  content: "$";
  position: absolute;
  left: -25%;
}

.category__list--ingredient {
  margin-top: 6px;
  text-align: justify;
  font-size: 9px;
  line-height: 10px;
}

.wrapper {
  padding: 0 17px;
}

.inner {
  margin-top: 9.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.margin {
  margin-top: 30px;
}

.category__next {
  color: white;
  background-color: #acd8ad;
}

.next-margin {
  margin: 12px 0 0 0;
}

.footer {
  margin-top: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  background-color: #acd8ad;
}

.footer__logo {
  display: none;
}

.footer__description {
  text-align: center;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 12px;
  display: block;
}

#menu-large-icon,
.navbar-menu-desktop,
.header-logo.none,
.navbar__mobile {
  display: none;
}

@media (max-width: 639px) {
  .navbar__mobile {
    position: absolute;
    top: 37px;
    right: 0;
    width: 57%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
  }
  .navbar__mobile--menu {
    width: 100%;
    padding-bottom: 4px;
    background-color: white;
    list-style: none;
  }
  .navbar__link {
    font-family: "Lato", sans-serif;
    color: #3f4043;
    font-size: 12px;
    display: block;
    padding: 4% 0 4% 12px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .header {
    background-image: url("../img/320/pizza_header_320.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__item {
    display: flex;
  }
  .categories__pizza {
    background-image: url("../img/320/pizza_320.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__salad {
    background-image: url("../img/320/salads_320.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__dessert {
    background-image: url("../img/320/desserts_320.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .price__logo {
    display: none;
  }
  .navbar-menu-desktop {
    display: none;
  }
  .header-logo {
    display: none;
  }
  .navbar__mobile {
    display: none;
  }
}

@media (min-width: 640px) {
  .navbar {
    height: 75px;
  }
  .navbar__title {
    font-size: 24px;
    font-weight: 500;
    padding: 0 0 0 5.5%;
    letter-spacing: 0.3px;
  }
  .navbar__menu {
    height: 100%;
    width: 13%;
  }
  .navbar__link {
    color: #444444;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 40px;
    padding: 1% 0 1% 12px;
  }
  .navbar__mobile {
    display: none;
    width: 40%;
    top: 74px;
  }
  .header {
    background-image: url("../img/640/header_640.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 0 28% 0;
  }
  .header__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 38px;
    padding: 4% 0 0 6%;
  }
  .header__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 64px;
    padding: 0.5% 0 0 6%;
  }
  .categories__item {
    display: flex;
  }
  .categories__pizza {
    background-image: url("../img/640/pizza_640.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__pizza--title {
    padding: 10% 0 12% 28%;
  }
  .categories__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
  }
  .categories__salad {
    background-image: url("../img/640/salad_640.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__salad--title {
    padding: 11% 0 11% 24%;
  }
  .categories__dessert {
    background-image: url("../img/640/dessert_640.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__dessert--title {
    padding: 11% 0 11% 28%;
  }
  .price__title {
    font-size: 40px;
  }
  .price__subtitle {
    font-size: 20px;
  }
  .price__logo {
    display: none;
  }
  .category__title {
    font-size: 40px;
  }
  .category__subtitle {
    font-size: 30px;
  }
  .category__list {
    margin-top: 20px;
  }
  .category__list--title {
    font-size: 27px;
  }
  .category__list--ingredient {
    margin-top: 10px;
    font-size: 18px;
    line-height: 18px;
  }
  .footer__description {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 26px;
  }
  #menu-large-icon {
    display: block;
  }
  #menu-small-icon {
    display: none;
  }
  .inner {
    margin-top: 22px;
  }
  .navbar-menu-desktop {
    display: none;
  }
  .header-logo {
    display: none;
  }
}

@media (min-width: 980px) {
  .navbar {
    padding: 5px 30px;
    height: auto;
  }
  .navbar__title {
    display: none;
  }
  .navbar__menu {
    display: none;
  }
  .navbar__link {
    color: #444444;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 40px;
    padding-left: 12px;
  }
  .navbar__mobile {
    position: relative;
    top: 0;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navbar__mobile--menu {
    display: inline-block;
    background-color: #373c3f;
    width: auto;
  }
  .navbar__link {
    color: white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    border-bottom: none;
  }
  .header {
    background-image: url("../img/980/header_980.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30%;
  }
  .header__title {
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
  }
  .header__link {
    font-size: 34px;
    font-weight: 700;
    line-height: 64px;
  }
  .categories {
    display: flex;
    justify-content: space-evenly;
  }
  .categories__item {
    display: flex;
    flex-grow: 1;
    margin: 0;
  }
  .categories__container {
    width: 100%;
  }
  .categories__pizza {
    background-image: url("../img/980/pizza_980.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__title {
    padding: 30% 0;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
  }
  .categories__link {
    display: none;
  }
  .categories__salad {
    background-image: url("../img/980/salad_980.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__dessert {
    background-image: url("../img/980/dessert_980.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .price {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  .price__logo {
    display: block;
  }
  .category {
    display: flex;
  }
  .category__left {
    flex-grow: 1;
  }
  .margin {
    margin: 0;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 5px 30px;
  }
  .footer__logo {
    display: block;
    flex-shrink: 0;
  }
  .footer__description {
    display: inline-block;
  }
  .header-logo {
    display: block;
  }
}

@media (min-width: 1200px) {
  .header {
    background-image: url("../img/1200/header_1200.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 379px;
  }
  .header__link {
    color: #a6d6e0;
    font-size: 38px;
    font-weight: 700;
    line-height: 64px;
    padding: 10% 0 0 10%;
  }
  .header__title {
    font-size: 62px;
    font-weight: 700;
    line-height: 64px;
  }
  .categories__pizza {
    background-image: url("../img/1200/pizza_1200.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__title {
    padding: 160px 0;
  }
  .categories__salad {
    background-image: url("../img/1200/salad_1200.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .categories__dessert {
    background-image: url("../img/1200/dessert_1200.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navbar-menu-desktop-link {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
  }
}
