body {
    font-family: 'Arimo', sans-serif;

}

table {
    border: 22px solid #3a4965
}

table, th, tr, td {
    border-collapse: collapse;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    color: rgba(72, 72, 72, 255);
}

td, th {
    padding: 29px 0;
    border-right: 1px solid #d7d7d7;
    box-shadow: -1px 0px 1px -1px rgba(0,0,0,0.5);
}


.title {
    font-size: 18px;
    padding: 0 49px;
}

.size {
    display: block;
    font-size: 30px;
}

.standart,
.ultimate,
.premium {
    color: #fff;
    border: none;
}

.standart {
    background-color: #89c331;
    font-size: 24px;
    padding: 25px 72px;
}

.ultimate {
    background-color: #f04a56;
    padding: 0 67px;
    font-size: 30px;
}

.premium {
    padding: 0 83px;
    background-color: #20807c;
    font-size: 24px;
}

.cost {
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    padding-left: 33px;
}

sup {
    font-size: 24px;
    position: relative;
    vertical-align: top;
    top: 4px;
}

.month {
    font-size: 18px;
    font-weight: normal;
    margin-left: -30px;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #e3e3e3;
}

tr th {
    background-color: #fafafa;
}

tfoot tr td {
    background-color: #eeeeee;
}

.bg-gray {
    background-color: #dddddd;
    border-right: 1px solid #b5b6b9;
}

.bg-white {
    background-color: #f4f4f4;
}

.button-gray,
.button-green,
.button-red,
.button-blue {
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    width: 192px;
    height: 49px;
}

.button-gray {
    background: linear-gradient(to bottom, #484848 85%, #404040 15%);
}

.button-green {
    background: linear-gradient(to bottom, #89c331 85%, #79b027 15%);
}

.button-red {
    background: linear-gradient(to bottom, #f04a56 85%, #df3a46 15%);
    }

.button-blue {
       background: linear-gradient(to bottom, #20807c 85%, #16736f 15%);

}

.button-gray:hover {
    background: #ff00ff;
}

.button-green:hover {
    background: #987643;
}

.button-red:hover {
    background: lightgreen;
}

.button-blue:hover {
    background: black;
}

.fonts {
    margin-right: 12px;
}