<!-- Modal basket empty -->

<div class="modal fade" id="basketModal" tabindex="-1" role="dialog" aria-labelledby="basketModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content rounded-0">
            <div class="modal-header border-0 ">
                <button type="button" class="close close-btn text-white p-2" data-dismiss="modal" aria-label="Close">
                    <span class="p-1" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 class="modal-title text-muted text-center">Your cart <span class="d-block d-sm-inline-block">is empty</span></h2>
                <p class="modal-title text-muted text-center pb-5">But it's never too <span class="d-block d-sm-inline-block">late to fix it :)</span></p>
            </div>
        </div>
    </div>
</div>



<!-- Modal basket full -->


<!--<div class="modal fade" id="basketModal" tabindex="-1" role="dialog" aria-labelledby="basketModalTitle" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">-->
<!--    <div class="modal-content rounded-0">-->
<!--      <div class="modal-header border-0 ">-->
<!--        <button type="button" class="close close-btn text-white p-2" data-dismiss="modal" aria-label="Close">-->
<!--          <span class="p-1" aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      <div class="modal-body mr-4">-->
<!--        <div class="container">-->
<!--          <div class="row border pb-4 d-lg-none rounded">-->
<!--            <div class="col-7 col-sm-5">-->
<!--              <img class="modal-img" src="img/modal/14.png"/>-->
<!--            </div>-->
<!--            <div class="col-5 col-sm-7 px-0">-->
<!--              <div class="col-12 p-0 pt-2">-->
<!--                <p class="text-dark mb-0 font-weight-bold pb-sm-3">Sunbaby<span class="d-block d-sm-inline-block pl-sm-1">Magic Chair</span></p>-->
<!--                <s class="text-muted pr-sm-2">$350.00</s><span class="d-block d-sm-inline-block modal-price py-1 text-center text-light font-weight-bold">$250.00</span>-->

<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-8 pt-4 col-sm-4 offset-sm-5 p-sm-0">-->
<!--              <p>Quantity:</p>-->
<!--              <span class=" py-2 px-3 brd">2</span><span class="mx-1 py-2 px-3 brd font-weight-bold">-</span><span class="font-weight-bold px-3 brd py-2 brd-primary">+</span>-->
<!--            </div>-->
<!--            <div class="col-4 col-sm-3 pt-4 p-sm-0">-->
<!--              <p class="text-muted mb-0 text-center ">Sum</p>-->
<!--              <span class="d-block font-weight-bold pt-2 text-center">$250.00</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row border pb-4 d-none d-lg-flex rounded">-->
<!--            <div class="col-lg-2">-->
<!--              <img class="modal-img" src="img/modal/14.png"/>-->
<!--            </div>-->
<!--            <div class="col-lg-10 pl-5">-->
<!--              <div class="row">-->
<!--              <div class="col-lg-12 py-2">-->
<!--                <p class="text-dark mb-0 font-weight-bold">Sunbaby Magic Bear Chair</p>-->
<!--              </div>-->
<!--              <div class="col-lg-3">-->
<!--                <s class="text-muted pr-2">$350.00</s><span class=" modal-price py-1 text-center text-light font-weight-bold">$250.00</span>-->
<!--              </div>-->
<!--              <div class="col-lg-7 pl-5">-->
<!--                Quantity: <span class="ml-4 py-2 px-4 brd">2</span><span class="mx-1 py-2 px-3 brd font-weight-bold">-</span><span class="font-weight-bold px-3 brd py-2 brd-primary">+</span>-->
<!--              </div>-->
<!--              <div class="col-lg-2">-->
<!--&lt;!&ndash;                <p class="text-muted mb-0 text-center ">Sum</p>&ndash;&gt;-->
<!--                <span class="d-block font-weight-bold text-center price-lg">$250.00</span>-->
<!--              </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row border pb-4 d-none d-lg-flex mt-3 rounded">-->
<!--            <div class="col-lg-2 pt-2">-->
<!--              <img class="modal-img" src="img/modal/12.png"/>-->
<!--            </div>-->
<!--            <div class="col-lg-10 pl-5">-->
<!--              <div class="row">-->
<!--                <div class="col-lg-12 py-2">-->
<!--                  <p class="text-dark mb-0 font-weight-bold">Orange Chair</p>-->
<!--                </div>-->
<!--                <div class="col-lg-3">-->
<!--                  <s class="text-muted pr-2">$350.00</s><span class=" modal-price py-1 text-center text-light font-weight-bold">$250.00</span>-->
<!--                </div>-->
<!--                <div class="col-lg-7 pl-5">-->
<!--                  Quantity: <span class="ml-4 py-2 px-4 brd">2</span><span class="mx-1 py-2 px-3 brd font-weight-bold">-</span><span class="font-weight-bold px-3 brd py-2 brd-primary">+</span>-->
<!--                </div>-->
<!--                <div class="col-lg-2">-->
<!--                  &lt;!&ndash;                <p class="text-muted mb-0 text-center ">Sum</p>&ndash;&gt;-->
<!--                  <span class="d-block font-weight-bold text-center price-lg">$250.00</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-12 text-right pr-0 pt-3">-->
<!--              <p>Total: $1000</p>-->
<!--            </div>-->
<!--            <div class="col-6 p-0 ">-->
<!--              <div class="py-2 text-center text-light bg-grey text-uppercase">-->
<!--                <i class="fas fa-chevron-right text-light"></i> continue-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-6 p-0 d-flex justify-content-end">-->
<!--              <div class="py-2 text-center text-light text-uppercase primary">-->
<!--                <i class="fas fa-shopping-basket"></i> buy now-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->