mixin copyright()
    section.copyright
        .container
            .row
                .col-xl-6.offset-xl-3.text-sm-left.col-md-8.col-12.text-center.mb-4.mb-sm-0.text-xl-center
                    span © Copyright 2016 Bazar | All Rights Reserved
                .col-xl-3.text-md-right.col-md-4.col-12.text-center
                    i.fab.fa-twitter.copyright__icon
                    i.fab.fa-facebook-f.copyright__icon
                    i.fab.fa-youtube.copyright__icon
                    i.fab.fa-google-plus-g.copyright__icon
                    i.fab.fa-linkedin-in.copyright__icon
                    i.fab.fa-pinterest-p.copyright__icon
