mixin footer()
    footer
        section.footer
            .container
                .row
                    .col-12.col-sm-6.col-lg-3
                        span.footer__links-title Information
                        ul.footer__links
                            li
                                a(href='#').footer__links-item About us
                            li
                                a(href='#').footer__links-item Privacy
                            li
                                a(href='#').footer__links-item Conditions
                            li
                                a(href='#').footer__links-item Online support
                    .col-12.col-sm-6.col-lg-3
                        span.footer__links-title My account
                        ul.footer__links
                            li
                                a(href='#').footer__links-item Login
                            li
                                a(href='#').footer__links-item My Cart
                            li
                                a(href='#').footer__links-item Wishlist
                            li
                                a(href='#').footer__links-item Checkout
                    .col-12.col-sm-6.col-lg-3
                        span.footer__links-title Information
                        ul.footer__links
                            li
                                a(href='#').footer__links-item Specials
                            li
                                a(href='#').footer__links-item New Products
                            li
                                a(href='#').footer__links-item Best Sellers
                            li
                                a(href='#').footer__links-item Our Stores
                    .col-12.col-sm-6.col-lg-3
                        span.footer__links-title Orders
                        ul.footer__links
                            li
                                a.footer__links-item(href='#') Payment options
                            li
                                a.footer__links-item(href='#') Shipping and delivery
                            li
                                a.footer__links-item(href='#') Returns
                            li
                                a.footer__links-item(href='#') Shipping
                        .row
                            .pr-0.mb-3.col-2
                                .div
                                    img(alt='' src='../static/img/visa.png')
                            .pr-0.mb-3.col-2
                                .div
                                    img(alt='' src='../static/img/master-card.png')
                            .pr-0.mb-3.col-2
                                .div
                                    img(alt='' src='../static/img/dacover.png')
                            .pr-0.mb-3.col-2
                                .div
                                    img(alt='' src='../static/img/blue-card.png')
                            .pr-0.mb-3.col-2
                                .div
                                    img(alt='' src='../static/img/paypal.png')
        +copyright