<!-- Furniture Gallery -->

<div class="container mt-3 furniture-gallery" id="furnitureGallery">
    <div class="row">
        <div class="col-12 col-lg-6">
            <h5 class="text-uppercase furniture-gallery__title border-bottom pb-2">furniture gallery</h5>

            <!-- Nav tabs -->

            <ul class="nav nav-tabs text-uppercase furniture-gallery__list mt-4">

                <li class="nav-item border border-bottom-0 rounded-0 text-center furniture-gallery__list--item">
                    <a class="nav-link active furniture-gallery__list--link " data-toggle="tab" href="#featured">Featured</a>
                </li>
                <li class="nav-item border rounded-0 border-bottom-0 text-center furniture-gallery__list--item ">
                    <a class="nav-link furniture-gallery__list--link " data-toggle="tab" href="#seller">Top seller</a>
                </li>
                <li class="nav-item border rounded-0 border-bottom-0 text-center furniture-gallery__list--item  ">
                    <a class="nav-link furniture-gallery__list--link " data-toggle="tab" href="#sale">Sale off</a>
                </li>
                <li class="nav-item border rounded-0 border-bottom-0 text-center  furniture-gallery__list--item ">
                    <a class="nav-link furniture-gallery__list--link " data-toggle="tab" href="#rated">Top rated</a>
                </li>

            </ul>


            <!-- Tab panes -->

            <div class="tab-content border border-top-0">
                <div id="featured" class="tab-pane active">
                    <div id="first" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->

                        <!-- The slideshow -->
                        <div class="carousel-inner border-bottom furniture-gallery__carousel">
                            <div class="carousel-item active">
                                <div class="furniture-gallery__image1">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="furniture-gallery__image2">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image3">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image4">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image5">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image6">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->


                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 py-1 px-0">
                                    <ul class='px-0 d-flex justify-content-around mb-0 py-2'>
                                        <a href="#first" data-slide="prev">
                                            <i class="fas fa-chevron-left text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                        <li class='list-inline-item m-0 furniture-gallery__slider '><img data-target="#first" data-slide-to="0" class=" p-2 active furniture-gallery__slider--img" src="/static/img/furniture-gallery-1.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#first" data-slide-to="1" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-2.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#first" data-slide-to="2" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-3.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#first" data-slide-to="3" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-4.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#first" data-slide-to="4" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-5.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#first" data-slide-to="5" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-6.png" alt="Furniture gallery"></li>
                                        <a href="#first" data-slide="next">
                                            <i class="fas fa-chevron-right text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="seller" class="tab-pane fade">
                    <div id="fourth" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->


                        <!-- The slideshow -->
                        <div class="carousel-inner border-bottom furniture-gallery__carousel">
                            <div class="carousel-item active">
                                <div class="furniture-gallery__image1">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="furniture-gallery__image2">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image3">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image4">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image5">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image6">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->


                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 py-1 px-0">
                                    <ul class='px-0 d-flex justify-content-around mb-0 py-2'>
                                        <a href="#fourth" data-slide="prev">
                                            <i class="fas fa-chevron-left text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                        <li class='list-inline-item m-0 furniture-gallery__slider '><img data-target="#fourth" data-slide-to="0" class=" p-2 active furniture-gallery__slider--img" src="/static/img/furniture-gallery-1.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#fourth" data-slide-to="1" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-2.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#fourth" data-slide-to="2" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-3.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#fourth" data-slide-to="3" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-4.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#fourth" data-slide-to="4" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-5.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#fourth" data-slide-to="5" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-6.png" alt="Furniture gallery"></li>
                                        <a href="#fourth" data-slide="next">
                                            <i class="fas fa-chevron-right text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="sale" class=" tab-pane fade ">
                    <div id="third" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->


                        <!-- The slideshow -->
                        <div class="carousel-inner border-bottom furniture-gallery__carousel">
                            <div class="carousel-item active">
                                <div class="furniture-gallery__image1">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="furniture-gallery__image2">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image3">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image4">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image5">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image6">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->


                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 py-1 px-0">
                                    <ul class='px-0 d-flex justify-content-around mb-0 py-2'>
                                        <a href="#third" data-slide="prev">
                                            <i class="fas fa-chevron-left text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                        <li class='list-inline-item m-0 furniture-gallery__slider '><img data-target="#third" data-slide-to="0" class=" p-2 active furniture-gallery__slider--img" src="/static/img/furniture-gallery-1.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#third" data-slide-to="1" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-2.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#third" data-slide-to="2" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-3.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#third" data-slide-to="3" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-4.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#third" data-slide-to="4" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-5.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#third" data-slide-to="5" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-6.png" alt="Furniture gallery"></li>
                                        <a href="#third" data-slide="next">
                                            <i class="fas fa-chevron-right text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="rated" class=" tab-pane fade ">
                    <div id="second" class="carousel slide" data-ride="carousel">

                        <!-- Indicators -->


                        <!-- The slideshow -->
                        <div class="carousel-inner border-bottom furniture-gallery__carousel">
                            <div class="carousel-item active">
                                <div class="furniture-gallery__image1">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="furniture-gallery__image2">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image3">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image4">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image5">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="furniture-gallery__image6">
                                    <div class="furniture-gallery__icon">
                                        <div class="furniture-gallery__item--heart position-relative ml-2 my-1"><i class="far fa-heart furniture-gallery__icon--heart py-2"></i><span class="heart-inscription">Add to wishlist</span></div>
                                        <div class="furniture-gallery__item--eye position-relative ml-2 my-1"><i class="far fa-eye furniture-gallery__icon--eye my-1 p-2"></i><span class="eye-inscription">Quick view</span></div>
                                        <div class="furniture-gallery__item--basket position-relative ml-2 my-1"><i class="fas fa-shopping-basket furniture-gallery__icon--basket p-2"></i><span class="basket-inscription">Add to cart</span></div>
                                    </div>
                                    <div class="d-flex justify-content-end">

                                        <div class="d-inline-block text-center px-1 py-2 position-relative mr-4 mb-2 mr-sm-0 mb-sm-4 furniture-gallery__rating">
                                            <div class="furniture-gallery__price text-center ml-5 mt-2 ">
                                                <p class="text-light m-0">$120.00</p>
                                                <p class="text-light m-0 furniture-gallery__price--last"><s>$160.00</s></p>
                                            </div>
                                            <p class="m-0">Aenean Ru Bristique</p>
                                            <p class="m-0"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Left and right controls -->


                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 py-1 px-0">
                                    <ul class='px-0 d-flex justify-content-around mb-0 py-2'>
                                        <a href="#second" data-slide="prev">
                                            <i class="fas fa-chevron-left text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                        <li class='list-inline-item m-0 furniture-gallery__slider '><img data-target="#second" data-slide-to="0" class=" p-2 active furniture-gallery__slider--img" src="/static/img/furniture-gallery-1.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#second" data-slide-to="1" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-2.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#second" data-slide-to="2" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-3.png" alt="Furniture gallery" ></li>
                                        <li class='list-inline-item m-0 furniture-gallery__slider'><img data-target="#second" data-slide-to="3" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-4.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#second" data-slide-to="4" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-5.png" alt="Furniture gallery"></li>
                                        <li class='list-inline-item m-0 d-none d-sm-inline-block furniture-gallery__slider'><img data-target="#second" data-slide-to="5" class=" p-2 furniture-gallery__slider--img" src="/static/img/furniture-gallery-6.png" alt="Furniture gallery"></li>
                                        <a href="#second" data-slide="next">
                                            <i class="fas fa-chevron-right text-light furniture-gallery__row py-4 px-3"></i>
                                        </a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-6 pl-4 bedroom-banner">
            <p class="text-uppercase pt-5 bedroom-banner__price mb-0">$50.80</p>
            <p class="bedroom-banner__title m-0">Bedroom Bed</p>
            <button type="button" class="btn text-uppercase px-4 rounded-1 py-3 bedroom-banner__btn">shop now</button>
            <img src="/static/img/bedroom-bed-banner.png" class="bedroom-banner__img my-4">
        </div>
    </div>
</div>