<!--header-->

<!-- добавить через JS корзину (если пустая - одно модельное окно, либо же другое что-то) , а также сделать счётчик на корзину (цифры возле неё)-->


<header class="header py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4 d-flex align-items-center"><i class="fas fa-mobile-alt pr-2 text-warning d-none  d-sm-inline-block"></i><a class="text-white" href="#">2300-3560-222</a></div>
            <div class="col-4 d-flex justify-content-center"><img class="header__img" src="static/img/bazar.png" ></div>
            <div class="col-4 text-right"><i class="fas fa-shopping-basket header__basket p-2 text-white" data-toggle="modal" data-target="#basketModal"></i><span class="text-white header__basket--counter" id="basket">0</span></div>
        </div>
    </div>
</header>

