<!-- Поменять font-family + fnsz -->

<div class="navigation">
    <nav class="container navbar navbar-expand justify-content-between">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <span class="navbar-text text-light">USD</span>
            </li>
            <li class="nav-item ">
                <span class="navbar-text px-4 text-light">English</span>
            </li>
            <li class="nav-item">
                <a class="nav-link pb-0 px-0 navigation__link" href="#">Help</a>
            </li>
        </ul>
        <div class="d-flex">
            <i class="fas fa-user text-white pr-3"></i><a class="nav-link p-0 navigation__link" href="#" data-toggle="modal" data-target="#loginModal">Login</a>
            <i class="fas fa-lock text-white px-3"></i><a class="nav-link p-0 navigation__link" href="#" data-toggle="modal" data-target="#registerModal">Register</a>
        </div>
    </nav>
</div>