mixin stocks()
    section.stocks
        .container
            .row.d-flex.flex-row
                .col.col-sm-10.offset-sm-1.col-xl-6.stocks__item.mb-30.d-none.d-sm-block.offset-xl-0.mb-xl-0
                    a(href='#').stocks__item--big
                        .d-flex.flex-column.justify-content-end.stocks__item-overlay
                            span.caption.mb-12 guest room
                                span.caption-big
                                    |  sofa
                            span.sale -20%
                .col.col-sm-10.offset-sm-1.stocks__item.offset-xl-0.col-xl-6
                    a(href='#').col-12.stocks__item--grey.mb-30.flex-column.justify-content-center.d-flex.align-items-center
                        div.stocks__item-img.left
                            img(src='/static/img/stocks_2.png')
                        div.stocks__item-img.right
                            img(src='/static/img/stocks_3.png')
                        div.d-flex.flex-column
                            span.caption-big office
                                span.caption  chair
                            span.caption-mid.mb-12 collection
                            span.price $200.00
                    a(href='#').col-12.stocks__item--pink.d-flex.justify-content-end.align-items-center.text-center
                        div.stocks__item-img.left-pink
                            img(src='/static/img/stocks_4.png')
                        div.d-flex.flex-column
                            span.caption-big special
                                span.caption  collection
                            span.caption-mid.mb-12 save up 45% of furniture