<!-- TOP-slider -->

<div id="topSlider" class="carousel slide container" data-ride="carousel">
  <div class="carousel-inner position-relative">
    <div class="carousel-item active">
      <img class="d-block w-100 top-slider__img " src="static/img/slider-1.jpg" alt="Первый слайд">
      <div class="top-slider__caption text-uppercase text-center text-light">
        <h3 class="font-weight-bold ">Indoor furniture</h3>
        <p>Save up to 50% of all furniture</p>
        <button type="button" class="btn btn-light text-uppercase px-4 py-3">Shop now</button>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100 top-slider__img" src="static/img/slider-2.jpg" alt="Второй слайд">
      <div class="top-slider__caption text-uppercase text-center text-light">
        <h3 class="font-weight-bold">Indoor furniture</h3>
        <p>Save up to 50% of all furniture</p>
        <button type="button" class="btn btn-light text-uppercase px-4 py-3">Shop now</button>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row text-center top-slider__row">
    <div class="col-6 p-1 top-slider__row--prev">
      <a href="#topSlider" data-slide="prev">
        <i class="fas fa-chevron-left text-light"></i></a>
    </div>
    <div class="col-6 p-1 top-slider__row--next">
      <a href="#topSlider" data-slide="next">
        <i class="fas fa-chevron-right text-light"></i></a>
    </div>
  </div>
  </div>
</div>
